!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}/
    %title
      Kensho ~ けんしょう
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"/stylesheet.css"}
  %body
    #header
      = haml(:header, :layout=>false)
    #content
      #validation
        #h2 Markup Validation
        - if @errors.errors.length > 0 
          #errors 
            %ul 
              - @errors.errors.each do |err| 
                %li= err.to_s
        - else
          #valid 
            %p Valid!!
      #debug
        #h2 Debug Information 
        %ul
          - if @errors.debug_messages 
            - @errors.debug_messages.each do |key, value|
              %li= "#{key}: #{value}" 
    #footer= haml(:footer, :layout=>false)
